body,
div,
ul,
li,
p
{
  padding:0;
  margin:0;
  font-family: 'Alegreya Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cinzel', serif; 
}

img {
  padding: 10px;
}

.clear-fix {
  overflow: auto;
}

.lang-change {
  margin-top: 15px;
  float: right;
  color: #00BCD4;
  display: inline;
  padding: 0 2px;
  cursor: pointer;
}

.selected-lang {
  font-style: italic;
  display: none;
}

.vertical-bar {
  margin-left: -2px;
  height: 25px;
  border-right: 1px solid #00BCD4;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}
.work-experience, .education, .map-area, .projects {
  padding: 2.5%;
}

.project-entry {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-entry {
  width: 33%;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #F3F3F3;
  margin: 2px;
}

.inner-entry:first-child{
  border-radius: 5% 0 0 5%;
}

.inner-entry:last-child{
  border-radius: 0 5% 5% 0;
}
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.project-img {
  max-width: 35%;
  height: 20%; 
  height: 60px;
  padding: 0;
}

h1 {
  font-size: 40px !important;
  line-height: 48px;
  display: inline;
}

.subheader {
  font-size: 20px;
  display: inline-block;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
  margin: 0;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 18px;
  color: #999;
  line-height: 16px;
  float: left;
}

.project-date {
  margin: 0 auto;
  float: initial;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

li,p,a {
  font-size: 18px;
}

p {
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.skills-h3 {
  padding: 0;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.black-text {
  color: #333;
}

.white-text {
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

.header {
  background-color: #607D8B;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

.clear {
  clear: both;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  max-width: 100%;
  border-radius: 50%;
}

.img-div {
  height: 200px;
  width: 60%;
  float: right;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

.skills-div {
  padding: 20px;
  height: 150px;
}

.chart div {
  font: 10px sans-serif;
  background-color: #00BCD4;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: #333;
  width: 80%;
  text-transform: uppercase;
}
.chart div:hover{
  background-color: #00D4C0;
}

.connect-text {
  color: #333;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}


@media only screen and (max-width:990px) {
 .row {
    display: flex;
 } 
 .img-div {
    float: right;
   /* border: 1px solid white;*/
    width: 50%;
 }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .project-entry {
    display: block;
  }
  .inner-entry {
    width: 100%;
  }
  
  .img-div {
    width: 65%;
  }

  .inner-entry {
    margin-bottom: 10px;
    width: 100%;
  }

  .inner-entry:first-child, .inner-entry:last-child {
    border-radius: 0;
  }


}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (max-width: 375px) {
  .row {
    margin-top: -15px;
  }
  .img-div {
    margin-top: 15px;
    height: 150px;
    margin-right: -15px;
    width: 90%;
  }
  .top-contacts {
    display: block;
    padding: 0;
    margin-bottom: 10px;
  }
  .top-contacts li {
    font-size: 15px;
  }
  hr {
    margin: 5px 0 5px 0 !important;
  }
}